@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agar koi custom styling chahiye toh yahan neeche likh sakte ho */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}